body {
    width: 100%;
    margin: 0 auto;
    background-color: #d0e1ff;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mails {
    font-size: x-large;
    text-align:center;
}
.mails li {
    font-size: large;
    text-align: left;
    margin-left: 500px;
}
.map {
    font-size: x-large;
    text-align: center;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 800px;
}
strong {
    color: red;
}
.phones {
    font-size: x-large;
    text-align: center;
}
ul.no-bullets {
  list-style-type: none;
}
.phones li {
    font-size: large;
    text-align: left;
    margin-left: 520px;
}
.row1 li {
    font-size: large;
    
}
.row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.row1.center {
    justify-content: center;
}
.row1.left {
    justify-content: left;
}	
footer {
    font-size: large;
    height: 160px;
    grid-area: footer;
    background-color: #151B54;
    color: #ffffff;
    padding: 0 12rem 0;
}
footer .logo {
    width: 60px;
    height: 60px;	
}
footer a {
    color: #ffffff;
}








