body {
    width: 100%;
    margin: 0 auto;
    background-color: #d0e1ff;
}

.news {
    font-size: x-large;
    text-align:center;
}
.latest-news p {
    font-size: x-large;
    text-align: right;
    margin-right: 300px;
}
.latest-news a {
    font-size: x-large;
}
.latest-news a:visited {
    color: blue;
}
.BKU-news p {
    font-size: x-large;
    text-align: right;
    margin-right: 300px;
}
.BKU-news a {
    font-size: x-large;
}
.BKU-news a:visited {
    color: blue;
}



strong {
    color: red;
}

ul.no-bullets {
  list-style-type: none;
}

li {
    font-size: large;
    
}
.row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.row1.center {
    justify-content: center;
}
.row1.left {
    justify-content: left;
}	
footer {
    font-size: large;
    height: 160px;
    grid-area: footer;
    background-color: #151B54;
    color: #ffffff;
    padding: 0 12rem 0;
}
footer .logo {
    width: 60px;
    height: 60px;	
}
footer a {
    color: #ffffff;
}